<!-- div_for adds an id of objectname_id and class of objectname.
	 Nice because you get the free class added to your div to use for styling.
-->

<%= div_for shout do %>
  <%= gravatar(shout.user) %>
	<%= link_to shout.user.username, shout.user %>
	shouted
	<div>
	  <%= render shout.content %>
	</div>
	<%= link_to time_ago_in_words(shout.created_at), shout %>
	ago
<% end %>