<h1>Dashboard</h1>

<%= form_for @text_shout do |form| %>
	<%= form.text_field :body, placeholder: 'Shout!' %>
	<%= form.submit 'Shout!' %>
<% end %>

<%= form_for @photo_shout do |form| %>
	<%= form.file_field :image %>
	<%= form.submit 'Shout!' %>
<% end %>
<!-- when you render on an array it will try and load a partial for each different type of object.
	 so this will look for a partial named _shout
-->
<%= render @shouts %>
